@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto+Mono:wght@400&display=swap');

$primary-color: #1565c0;
$primary-color-light: #e4effc;
$primary-color-active: #0a3260;
$text-color: #6F7E8C;
$bold-color: #0A1929;
$border-color: #E7EBF0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.active { display: block; }
.inactive { display: none; }

main {
  display: flex;
  align-items: flex-start;
}

aside {
  position: fixed;
  height: 100vh;
  border-right: 1px solid $border-color;
  width: 300px;
  overflow-y: scroll;

  .logo {
    display: flex;
    align-items: center;
    margin: 0.25em 0.75em;
    border-bottom: 1px solid $border-color;
    color: $primary-color;

    & > svg {
      cursor: pointer;
      width: 5em;
      height: 5em;
    }

    div {
      margin-left: 8px;

      .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          color: $primary-color;
          padding-left: 14px;
          border-left: 1px solid $border-color;
          font-size: 1em;
          font-weight: 700;
          letter-spacing: 0.5px;
        }
      }

      p {
        color: $text-color;
        margin-top: 2px;
        padding-left: 14px;
        margin-right: 2em;
        border-left: 1px solid $border-color;
        font-size: 0.7em;
      }
    }
  }

  .search {
    margin: 1em auto 0.5em auto;
    display: table;

    input[type=text] {
      background: none;
      border: none;
      outline: none;
      width: 28px;
      min-width: 0;
      padding: 0;
      z-index: 1;
      position: relative;
      line-height: 18px;
      margin: 5px 0;
      font-size: 14px;
      font-weight: 400;
      appearance: none;
      -webkit-appearance: none;
      transition: all .6s ease;
      cursor: pointer;
      color: $bold-color;

      & + div {
        position: relative;
        height: 28px;
        width: 100%;
        margin: -28px 0 0 0;

        svg {
          display: block;
          position: absolute;
          height: 28px;
          width: 160px;
          right: 0;
          top: 0;
          fill: none;
          stroke: $bold-color;
          stroke-width: 1.25px;
          stroke-dashoffset: 212.908 + 59;
          stroke-dasharray: 59 212.908;
          transition: all .6s ease;
        }
      }

      &:not(:placeholder-shown),
      &:focus {
        width: 160px;
        padding: 0 4px;
        cursor: text;

        &+ div {
          svg {
            stroke-dasharray: 150 212.908;
            stroke-dashoffset: 300;
          }
        }
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .caret {
      color: $bold-color;
      font-weight: 500;
      margin: 0.2em 1em;
      padding: 0.75em;
      display: flex;
      border-radius: 3px;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition-duration: 50ms;

      &:hover {
        background-color: $primary-color-light;
        transition-duration: 50ms;
      }

      .title {
        display: flex;
        align-items: center;
      }

      .icon {
        color: $primary-color;
        margin-right: 0.75em;
      }
    }

    .caret-child {
      color: $text-color;
      font-weight: 400;
      margin: 0.2em 1em 0.2em 2em;
      padding: 0.75em;
      cursor: pointer;
      border-radius: 3px;
      transition-duration: 50ms;

      &:hover {
        background-color: $primary-color-light;
        color: $bold-color;
        transition-duration: 50ms;
      }
    }
  }
}

article {
  height: 100vh;
  display: flex;
  flex-grow: 1;
  margin-right: 275px;

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .sidebar-icon {
      width: 2em;
      padding: 1em;
      background: none;
      border: none;
      margin: 0.5em;
      cursor: pointer;
      position: fixed;

      svg {
        width: 1.75em;
        height: 1.75em;
        color: $primary-color;
      }
    }

    section {
      width: 100%;
      flex-grow: 1;
      padding: 4em 7em;
      margin: auto;


      h1, h2, h3, h4 { margin-top: 1em; }

      h4 {
        font-weight: 600;
        font-size: 1.1em;
      }

      p {
        margin: 1em 0;
        line-height: 1.5;
      }

      ul {
        margin: 1em 0 1.5em 2em;
        li { margin: 0.75em 0; }
      }

      .quote {
        font-family: 'Roboto Mono', monospace;
        background-color: $primary-color-light;
        font-weight: 400;
        padding: 1px 5px;
        border-radius: 3px;
      }

      .underline {
        color: $primary-color;
        text-decoration: underline;
        cursor: pointer;

        &:active {
          color: $primary-color-active;
        }
      }

      hr {
        margin-top: 2em;
        border: none;
      }

      .code-result {
        border: 1px solid $border-color;
        border-radius: 10px;
        padding: 2em;
        margin: 1em 0;
        display: flex;
        justify-content: center;
      }

      .code-container {
        margin-top: 2em;

        ul {
          display: flex;
          justify-content: flex-end;
          list-style: none;
          margin: 0 0 0.3em 0;

          li {
            padding: 3px 3px 0 3px;
            margin: auto 0 auto 1.75em;
            cursor: pointer;
            border-radius: 4px;
            transition-duration: 100ms;

            &:hover {
              background-color: $primary-color-light;
              transition-duration: 100ms;
            }
          }
        }

        .code-example {
          background-color: #282C34;
          padding: 0.5em 1em;
          margin-bottom: 1em;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

          * { font-family: 'Roboto Mono', monospace; }
        }
      }
    }
  }

  .sidebar {
    position: fixed;
    right: 0;
    width: 275px;
    padding: 4em 1.5em 1em 0;

    h3 {
      color: $bold-color;
      text-transform: uppercase;
      font-size: 0.9em;
      letter-spacing: 1px;
      padding-bottom: 1em;
      border-bottom: 2px solid $border-color;
    }

    h4 {
      color: $bold-color;
      font-size: 0.8em;
      padding: 0.5em 0;
      margin-top: 0.5em;
      font-weight: 600;
      transition-duration: 100ms;
      cursor: pointer;

      &:hover {
        color: $primary-color;
        transition-duration: 100ms;
      }
    }

    h5 {
      color: $text-color;
      font-size: 0.8em;
      padding: 0.3em 0 0.3em 1.5em;
      margin: 0.5em 0;
      font-weight: 600;
      transition-duration: 100ms;
      cursor: pointer;

      &:hover {
        color: $primary-color;
        transition-duration: 100ms;
      }
    }
  }
}

