@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&family=Roboto+Mono:wght@400;500&display=swap');

$color-canvas: #FFFFFF;
$color-border: #E7EBF0;

$color-primary: #007FFF;
$color-secondary: #FF007F;
$color-accent: #FF007F;

$color-text: #6F7E8C;
$color-heading: #0A1929;
$color-link: #0A1929;
$color-link-hover: #0A1929;

$color-success: #2E7D32;
$color-success-light: #EDF7ED;
$color-success-dark: #1E4620;

$color-error: #CC3333;
$color-error-light: #FDEDED;
$color-error-dark: #5F2120;

$color-warning: #ED6C02;
$color-warning-light: #FFF4E5;
$color-warning-dark: #663C00;

$color-info: #0288D1;
$color-info-light: #E5F6FD;
$color-info-dark: #014361;

$size-topbar: 4em;
$size-sidebar: 300px;
$size-article-sidebar: 250px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

// Section - Composition

.topbar {
  background-color: $color-canvas;
  position: fixed;
  height: $size-topbar;
  width: 100vw;
  z-index: 5;

  &-sb-active {
    @extend .topbar;
    width: calc(100vw - $size-sidebar);
    margin-left: $size-sidebar;
  }
}

.sidebar {
  background-color: $color-canvas;
  height: 100vh;
  width: $size-sidebar;
  position: fixed;
  z-index: 10;
}

.article-content {
  background-color: $color-canvas;
  padding-top: $size-topbar;
  margin-left: 0;
  margin-right: 0;

  &-sb-active {
    @extend .article-content;
    margin-left: $size-sidebar;
    margin-right: $size-article-sidebar;
  }

  .article-sidebar {
    background-color: $color-canvas;
    width: $size-article-sidebar;
    height: calc(100vh - $size-topbar);
    position: fixed;
    top: $size-topbar;
    right: 0;
  }
}

.landing-page {
  background-color: $color-canvas;
  padding-top: $size-topbar;
  margin-left: 0;
  margin-right: 0;

  &-sb-active {
    @extend .landing-page;
    margin-left: $size-sidebar;
    margin-right: $size-article-sidebar;
  }
}

// Section - Utilities

.text-primary { color: $color-primary; }
.pointer { cursor: pointer; }
.active { display: block; }
.inactive { display: none; }

// Section - Blocks

.sidebar {
  overflow-y: scroll;
  border-right: 1px solid $color-border;
}

body { background-color: $color-canvas; }

a { text-decoration: none; }
button { border: none; }

.quote {
  font-family: 'Roboto Mono', monospace;
  background-color: $color-info-light;
  font-weight: 500;
  font-size: 0.95em;
  padding: 1px 5px;
  border-radius: 3px;
}

.underline {
  color: $color-info;
  text-decoration: underline;
  cursor: pointer;
  transition-duration: 100ms;

  &:hover {
    color: $color-info-light;
    transition-duration: 100ms;
  }

  &:active {
    color: $color-info-dark;
    transition-duration: 100ms;
  }
}

hr {
  margin-top: 2em;
  border: none;
}

.topbar, .topbar-sb-active {
  border-bottom: 1px solid $color-border;
  padding: 0 2em 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Hamburger menu
  svg { font-size: 1.3em; }

  section {
    display: flex;
    align-items: center;
    gap: 1.5em;

    & svg {
      font-size: 1.3em;
      color: $color-primary;
    }

    a {
      border-bottom: 1.5px solid $color-border;
      transition-duration: 100ms;

      &:hover {
        border-bottom: 1.5px solid $color-primary;
        transition-duration: 100ms;
      }
    }

    button {
      width: 2.5em;
      height: 2.5em;
      background-color: $color-canvas;
      border-radius: 8px;
      border: 1.5px solid $color-border;
      padding: 0.5em;
      padding: 0.2em;
      transition-duration: 100ms;

      &:hover {
        border: 1.5px solid $color-primary;
        transition-duration: 100ms;
      }
    }
  }
}

.search-container {
  border: 1.5px solid $color-border;
  border-radius: 5px;
  padding: 4px;
  background-color: #F3F6F9;
  color: $color-text;
  display: flex;

  &:hover {
    border: 1.5px solid $color-primary;
    transition-duration: 100ms;
  }

  &:focus {
    outline: none;
    border: 1.5px solid $color-primary;
  }
}

input[type=text] {
  border: none;
  background-color: #F3F6F9;
  padding-left: 0.5em;
  transition-duration: 100ms;

  &:focus {
    outline: none;
  }
}

.sidebar {
  padding-bottom: 5vh;

  .heading {
    color: $color-primary;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-border;
    padding: 1em 1.25em;
    height: 4em;

    svg {
      width: 2em;
      height: 2em;
    }

    h1 {
      padding-left: 14px;
      font-size: 1.25em;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
  }
}

.sidebar {

  .tree-view {
    padding-top: calc(5em - $size-topbar)
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .caret {
      color: $color-heading;
      font-weight: 400;
      margin: 0.2em 1em;
      padding: 0.75em;
      display: flex;
      border-radius: 3px;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition-duration: 50ms;

      &:hover {
        background-color: $color-info-light;
        transition-duration: 50ms;
      }

      .title {
        display: flex;
        align-items: center;
      }

      .icon {
        color: $color-primary;
        margin-right: 0.75em;
      }
    }

    .caret-child {
      color: $color-text;
      font-weight: 400;
      margin: 0.2em 1em 0.2em 3em;
      padding: 0.75em;
      cursor: pointer;
      border-radius: 3px;
      transition-duration: 50ms;

      &:hover {
        background-color: $color-info-light;
        color: $color-heading;
        transition-duration: 50ms;
      }
    }
  }
}

.article-content,
.article-content-sb-active {
  h1, h2, h3, h4 {
    margin-top: 1.5em;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 600;
  }

  h4 {
    font-size: 1.4em;
    font-weight: 500;
  }

  p {
    margin: 1.2em 0;
    line-height: 1.6;
  }

  ul {
    margin: 1em 0 1.5em 2em;
    li { margin: 0.75em 0; }
  }

  strong { font-weight: 600; }

  .notification-container {
    border-radius: 8px;
    margin-top: 1.25em;
    padding: 1.5em 2.5em;
    display: flex;
    gap: 2em;
    align-items: center;

    &-success {
      @extend .notification-container;
      background-color: $color-success-light;
      color: $color-success-dark;
    }

    &-error {
      @extend .notification-container;
      background-color: $color-error-light;
      color: $color-error-dark;
    }

    &-warning {
      @extend .notification-container;
      background-color: $color-warning-light;
      color: $color-warning-dark;
    }

    &-info {
      @extend .notification-container;
      background-color: $color-info-light;
      color: $color-info-dark;
    }

    svg {
      flex-shrink: 0;
      font-size: 1.25em;
    }

    .quote-text {
      font-weight: 500;
      font-size: 0.95em;
      line-height: 1.6;
    }
  }

  table {
    display: block;
    width: 100%;
    max-height: 25em;
    overflow-y: auto;
    border-collapse: collapse;
    margin: 2em 0;

    thead {
      display: table;
      width: 100%;
      border-bottom: 2px solid $color-border;

      th {
        padding: 0.35em 0;
        font-weight: 500;
        text-align: left;
        vertical-align: top;
      }
    }

    tbody {
      display: table;
      width: 100%;
      border-bottom: 2px solid $color-border;

      tr {
        border-bottom: 1px solid $color-border;

        td {
          font-family: 'Roboto Mono', monospace;
          font-weight: 400;
          font-size: 0.95em;
          padding: .75em 0;
          color: $color-secondary;
          white-space: pre-wrap;

          &:first-child {
            color: $color-primary;
            font-size: 1em;
            width: 35%;
          }
        }
      }
    }
  }
}

.article-content {
  max-width: 1100px;
  padding: 5em;
  margin: 0 auto;

  &-sb-active {
    @extend .article-content;
    margin: 0 auto;
  }
}

.code-result {
  margin-top: 2em;

  iframe {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    border: 1px solid $color-border;
    border-radius: 10px;
  }
}

.code-container {
  margin-top: 1em;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 0 0.3em 0;

    li {
      padding: 3px 3px 0 3px;
      margin: auto 0 auto 1.75em;
      cursor: pointer;
      border-radius: 4px;
      transition-duration: 100ms;

      &:hover {
        background-color: $color-info-light;
        transition-duration: 100ms;
      }
    }
  }

  .code-example {
    background-color: #282C34;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    * { font-family: 'Roboto Mono', monospace; }
  }
}


.article-sidebar {
  padding: calc(5em - $size-topbar) 2em 1em 0;

  h3 {
    color: $color-heading;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid $color-border;
  }

  h4, h5 {
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 0;
    transition-duration: 85ms;
    cursor: pointer;

    &:hover {
      color: $color-primary;
      transition-duration: 85ms;
      border-left: 3px solid $color-primary;
    }
  }

  h4 {
    color: $color-heading;
    padding: 0.75em 0;
    &:hover { padding-left: 1em; }
  }

  h5 {
    color: $color-text;
    padding: 0.8em 0 0.8em 1.5em;
    &:hover { padding-left: 2.5em; }
  }
}

.landing-page {

  header {
    margin-left: 10vw;
    display: flex;
    height: 90vh;

    .hero {
      width: calc(50% - 5vw);
      padding-right: 6em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5em;

      h1 {
        font-size: 4.25em;

        .special {
          color: $color-primary;
        }
      }

      p {
        line-height: 1.8em;

        strong {
          font-weight: 600;
        }
      }

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-primary;
        color: white;
        font-weight: 600;
        font-size: 1.1em;
        letter-spacing: 0.5px;
        margin-right: auto;
        padding: 0.8em 1em;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition-duration: 200ms;

        &:hover {
          box-shadow: 1px 3px 15px rgba(0,0,0,0.12);
          -webkit-box-shadow: 1px 3px 15px rgba(0,0,0,0.12);
          -moz-box-shadow: 1px 3px 15px rgba(0,0,0,0.12);
          transition-duration: 200ms;

          svg {
            margin-left: 0.7em;
            margin-right: 0;
          }
        }

        svg {
          font-size: 1.5em;
          margin-left: 0.5em;
          margin-right: 0.2em;
          transition-duration: 200ms;
        }
      }
    }

    .demo {
      flex-grow: 1;
      background-color: #F3F6F9;
      border-bottom-left-radius: 20px;
    }
  }

  .features {
    min-height: 30vh;
    margin: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;

    .feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1em;
      width: 15%;
      padding: 2.5em 0;
      border: 2px solid white;
      border-radius: 10px;
      transition-duration: 200ms;
      cursor: pointer;

      svg {
        color: $color-primary;
        font-size: 3em;
        transition-duration: 200ms;
      }

      &:hover {
        border: 2px solid $color-border;
        svg { color: $color-info-dark; }
      }

      h2 {
        font-weight: 500;
        max-width: 75%;
      }
    }
  }

  .showcase {
    background-color: #F3F6F9;
    min-height: 75vh;
    padding: 5em 10vw;
    margin-bottom: 50vh;
  }
}

$color-list: (
#EF4444, // Red
#F97316, // Orange
#F59E0B, // Amber
#FACC15, // Yellow
#84CC16, // Lime
#22C55E, // Green
#10B981, // Emerald
#14B8A6, // Teal
#06B6D4, // Cyan
#0EA5E9, // Sky
#3B82F6, // Blue
#6366F1, // Indigo
#8B5CF6, // Violet
#A855F7, // Purple
#D946EF, // Fuchsia
#EC4899, // Pink
#F43F5E, // Rose
#64748B, // Slate
#737373, // Neutral
);

.color-palette-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 2em 0;
}

.color-picker {
  display: flex;
  flex-direction: column;
  margin: auto 0px;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;

  .color-button {
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    border: none;
    padding: 8px;
    margin: 5px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background: black;
  }

  .color-button:nth-child(1) {
    $default-bg: nth($color-list, 1);
    box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 4px white;
  }

  @mixin color-buttons($count) {
    @for $i from 1 through $count {
      $background: nth($color-list, $i);
      .color-button:nth-child(#{$i}) {
        background: $background;
      }
    }
  }
  @include color-buttons(19);
}

.color-chart {
  margin: auto 0px;
  width: 70%;
  padding: 5px;

  .color-name {
    padding: 8px;
    margin: 0px;
    font-weight: 600;
    transition: 0.6s ease;
  }
}

.color-palette-item {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 90%;
  margin: 5px 0px;
  padding: 11px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms ease;
  background-color: $color-border;

  .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
  }

  .hex-code { float: right; }

  .copied {
    margin-left: 20%;
    animation: fade 600ms linear;
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
  @keyframes fade {
    to {
      opacity: 0;
    }
  }
}

